@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
header{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
header h1{
    font-family: 'Imperial Script';
    font-size: 30px;
    font-weight: 400;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    padding: 12px;
}
nav a:visited,nav a:active,nav a{
    text-decoration: none;
    font-size: 14px;
    transition: 1s;
}
footer{
    height: 56.47px;
    background: #FCC028;
    padding: 30px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 200;
}
footer #social-midia a{
    padding: 10px;
}
@media (max-width: 952px) {
    header{
        display: flex;
        flex-direction: column;
    }
    header .contato{
        display: none;
    }
    nav a{
        font-size: 12px;
    }
    footer{
        padding: 30px 30px;
        font-size: 15px;
    }
}
@media (max-width: 375px) {
    footer{
        padding: 30px 30px;
        font-size: 9px;
    }
    footer #social-midia a{
        padding: 3px;
    }
}
@media (max-width: 320px) {
    footer{
        padding: 30px 30px;
        font-size: 7px;
    }
    footer #social-midia a{
        padding: 3px;
    }
    footer img{
        width: 10px;
    }
}