section#sobre-mim{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}
#conteudo-main{
    width: 606px;
    height: 317.97px;
}
#conteudo-main span{
    font-size: 17px;
    color: #FCC028;
}
#conteudo-main h2{
    font-size: 70px;
    font-weight: 600;
    line-height: 60px;
}
#conteudo-main h4{
    color: #207733;
    font-size: 23px;
    font-weight: 400;
}
#conteudo-main p{
    width: 592.93px;
    height: 78px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 35px;
}
.baixar{
    margin-left: 20px;
    text-decoration: none;
}
.perfil{
    width: 400px;
}
#habilidades{
    margin-top: 150px;
}
#habilidades h2{
    text-align: center;
    margin-bottom: 20px;
}
#habilidades-lista{
    display: flex;
    margin: 20px;
}
.item{
    width: 358.29px;
    height: 334.92px;
    text-align: center;
    margin: 50px 40px;
}
.item h4{
    font-size: 14px;
    font-weight: 500;
}
.item p{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}
#projetos{
    margin-top: 150px;
}
#projetos h2{
    text-align: center;
    margin-bottom: 20px;
}
.imagem{
    padding: 10px;
}
.projetos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    padding: 15px;
}
#projetos .conteudo span{
    color: #FCC028;
    font-size: 30px;
    font-weight: 500;
}
#projetos .conteudo h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
#projetos .conteudo p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
}
#projetos .conteudo a{
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid #FCC028;
    color: #FCC028;
    border-radius: 10px;
    transition: 0.5s;
}
#projetos .conteudo a:hover{
    background: #FCC028;
    color: white;
}
@media (max-width: 952px) {
    section#sobre-mim{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .perfil{
        width: 200px;
    }
    #sobre-mim span{
        font-size: 14px;
    }
    #sobre-mim h2{
        font-size: 40px;
    }
    #sobre-mim h4{
        font-size: 17px;
    }
    #sobre-mim p{
        font-size: 14px;
        margin-bottom: 10px;
    }
    #habilidades-lista{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item{
        margin: 30px 40px;
    }
    .projetos{
        display: flex;
        justify-content: space-evenly;
    }
    #projetos .conteudo h4{
        margin-top: 0px;
    }
    #projetos .conteudo span{
        font-size: 18px;
    }
    #projetos img{
        width: 350px;
        margin: 20px;
    }
}
@media (max-width: 720px){
    section#sobre-mim{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .perfil{
        width: 300px;
    }
    #conteudo-main{
        width: 606px;
        height: 150px;
    }
    #projetos{
        margin-top: 100px;
    }
    .projetos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projetos#item2{
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (max-width: 600px){
    section#sobre-mim{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .perfil{
        width: 250px;
    }
    #sobre-mim span{
        font-size: 13px;
    }
    #sobre-mim h2{
        font-size: 35px;
    }
    #sobre-mim h4{
        font-size: 15px;
    }
    #sobre-mim p{
        font-size: 12px;
        margin-bottom: 10px;
    }
}
@media (max-width: 375px) {
    .perfil{
        width: 230px;
    }
    #sobre-mim span{
        font-size: 12px;
    }
    #sobre-mim h2{
        font-size: 25px;
    }
    #sobre-mim h4{
        font-size: 10px;
    }
    #sobre-mim p{
        font-size: 8px;
        margin-bottom: 10px;
        width: 375px;
    }
    #conteudo-main{
        width: 375px;
    }
    .item{
        width: 375px;
    }
    #projetos img{
        width: 350px;
        margin: 0px;
    }
    .item{
        margin: 10px 40px;
    }
}
@media (max-width: 320px) {
    #projetos img{
        width: 300px;
        margin: 20px;
    }
    #habilidades-lista{
        width: 320px;
    }
    #conteudo-main{
        width: 320px;
    }
    #sobre-mim p{
        font-size: 7px;
        margin-bottom: 10px;
        width: 320px;
        height: 30px;
    }
    .perfil{
        width: 180px;
        margin-top: 20px;
    }
    .baixar{
        text-decoration: none;
        font-size: 10px;
        padding: 0;
    }
    .baixar img{
        padding: 0;
        text-decoration: none;
    }
    .item{
        width: 320px;
    }
    #projetos img{
        width: 320px;
        margin: 0px;
    }
    .item{
        width: 320px;
        height: 250px;
        text-align: center;
        margin: 0px;
        padding: 0;
    }
    .item h4{
        font-size: 12px;
        font-weight: 500;
    }
    .item p{
        font-size: 10px;
        color: rgba(0, 0, 0, 0.5);
    }
    .item img{
        width: 150px;
    }
    #habilidades-lista{
        display: flex;
        margin: 0px;
        padding: 0;
    }
    #projetos img{
        width: 250px;
    }
    .projetos{
        margin-bottom: 30px;
        padding: 15px;
    }
    #projetos .conteudo span{
        color: #FCC028;
        font-size: 20px;
        font-weight: 500;
    }
    #projetos .conteudo h4{
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
    }
    #projetos .conteudo p{
        margin-top: 7px;
        font-size: 14px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 40px;
    }
    #projetos .conteudo a{
        text-decoration: none;
        padding: 8px 20px;
        border: 1px solid #FCC028;
        font-size: 10px;
        color: #FCC028;
        border-radius: 10px;
        transition: 0.5s;
    }
}